@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #0f1a2c;                    
    --seconday-color: #f6ac0f;
    --text-dark: #0f172a;
    --text-light: #64748b;
    --extra-light: #f8fafc;
    --white: #ffffff;
    --gradient: linear-gradient(to right bottom, #ffd43b, #ff9900);

    --ff: 'Playfair Display', serif;

    /*DEFINE 1REM - 16PX*/
    font-size: 100%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #AACADD;
}

a{
    text-decoration: none;
}

/*CABEÇALHO*/
.section_container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 5rem 1rem;
}

header{
    background-color: var(--primary-color);
    height: 100px;
}

.navbar_container {
    max-width: 1500px;
    background-color: var(--white);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    padding: 1rem 2rem;
    transform: translateY(50%);
}

.navbar_logo img {
    margin-top: 5px;
    max-width: 250px;
    display: block;
}

/*itens menu*/
.navbar_links {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.navbar_links a{
    color: var(--text-dark);
    font-weight: 600;
    font-size: 1rem;
    transition: 0.3s;
}

.navbar_links a:hover{
    color: #AACADD;
    border-bottom: 2px solid #AACADD;
}
/*login*/
.login button{
    display: flex;
    align-items:center;
    border-bottom: 2px solid var(--seconday-color);
    border-radius: 0 0 10px 10px;
    padding-bottom: 0.1rem;
    margin-left: 3rem;
}

.login{
    border: none;
    background: none;
    font-size: 1.2rem;
    padding-left: 1rem;
    cursor: pointer;
}


/*busca*/
.search-box {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #003366;
    border-radius: 0 0 10px 10px;
    padding-bottom: 0.1rem;
    margin-left: 2rem;
}

.search-box input {
    border: none;
    padding-left: 0.8rem;
    font-style: italic;
    outline: none;
    font-size: 0.8rem;
    color: var(--text-dark);
    width: 230px;

}

.search {
    border: none;
    background: none;
    font-size: 1.2rem;
    padding-left: 0.5rem;
    cursor: pointer;
}

.navbar_toggle {
    font-size: 2rem;
    border: none;
    background: none;
    color: var(--text-dark);
    cursor: pointer;
    transition: 0.3s;
    display: none;
}

.navbar_toggle ion-icon:hover {
    color: var(--seconday-color);
}

.btn {
    align-items:baseline;
    padding-left: 800px;
    margin-top: 20px;
    background: #f7cf66;
    border: none;
    padding: 18px 40px;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1.2em;
    transition: 0.2s;
}

.btn img{
    width: 25px;
    height: 100%;
    
}

/* ===== CAIXA DE SELEÇÃO ===== */
.language-selector {
  display: flex;
  align-items: center;
  gap: 8px;
  background: var(--white);
  border: 1px solid var(--secondary-color);
  border-radius: 8px;
  padding: 3px 6px;
  cursor: pointer;
  transition: 0.3s;
}

.language-selector:hover {
  background: var(--secondary-color);
}

.lang-icon {
  font-size: 1.3rem;
  color: var(--secondary-color);
  transition: color 0.3s;
}

.language-selector:hover .lang-icon {
  color: var(--primary-color);
}

.lang-select {
  border: none;
  outline: none;
  background: transparent;
  font-weight: 600;
  color: var(--text-dark);
  font-size: 0.95rem;
  cursor: pointer;
  padding: 3px 6px;
  border-radius: 6px;
  width: 60px;
}

.language-selector:hover .lang-select {
  color: var(--primary-color);
}

/*CONTAINER*/
.contatos{
    margin: 0 auto;
    padding: 8rem;
    text-align: center;
    background-color: #d9e6f3;    
}

.contato-container{
    padding-top: 1rem;
    align-items: center;
    padding: 4rem;
    
}

.contato-container h2{
    font-size: 30px;
    padding-bottom: 1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.contato-container p{
    font-size: 20px;
    padding: 0.2rem;
}

.Footer-bottom {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
    padding: 20px 0;
}

.contato, .social {
    text-align: left;
    padding: 4rem;
}

.contato h3, .contato p {
  display: flex;
  align-items: center;
  gap: 8px;
}

.contato img {
  width: 18px;
}

.social p {
    font-weight: 500;
    margin-bottom: 10px;
    position: relative;
}

.social .Icones a img {
    width: 25px;
    margin-right: 10px;
    transition: 0.3s;
}

/*COMENTARIOS*/
.comentarios {
    background: #0077a3;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
}

.comentarios h1 {
    font-size: 24px;
    font-weight: 600;
}

.icon img{
    width: 50px;
    top: 10px;
}

/*MAIN*/
.main-content{
    background-color: #d9e6f3;
    padding: 3rem;
    padding-bottom: 50px;
}

.main-content h1{
    text-align: center;
    font-size: 2.7rem;
    margin-top: 80px;
    margin-bottom: 25px;
    font-family: 'Times New Roman', Times, serif;
}

.main-content h2{
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif;
    font-weight: 400;
    line-height: 2.5rem;
    font-style: italic;
}
.main-content p{
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 30px;
    font-family: 'Arial', sans-serif;
    font-weight: 500;
    line-height: 1.8rem;
}

.comment-title {
    margin-top: 50px;
    text-align: center;
    text-decoration: underline #0077a3;
}
.connected-checkbox {
    margin: 10px 0;
    display: block;
    align-items: center;
    gap: 5px;
}

.connected-checkbox input {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.connected-checkbox span {
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.connected-checkbox p {
    font-size: 12px;
    color: #ff0000;
    margin-top: 4px;
}

/* Caixa de comentário */
.comment-box {
    background: #aee3fa;
    width: 65%;
    margin: 40px auto;
    padding: 25px;
    border-radius: 12px;
    display: flex;
    gap: 20px;
}

.avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.comment-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

textarea {
    width: 100%;
    height: 120px;
    border: none;
    resize: none;
    border-radius: 10px;
    padding: 15px;
    font-size: 14px;
    outline: none;
}

.box-select {
    width: 200px;
    padding: 10px;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    outline: none;
    margin-top: 10px;
}

.btn-publicar {
    width: 110px;
    padding: 10px;
    background: #f5d58d;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

/* Comentários */
.comment {
    background: #aee3fa;
    width: 65%;
    margin: 25px auto;
    padding: 25px;
    border-radius: 12px;
    display: flex;
    gap: 20px;
}

.comment-body h3 {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
}

.arroba {
    font-weight: 500;
    color: #333;
}

.comment-text {
    background: white;
    padding: 15px;
    margin-top: 10px;
    border-radius: 10px;
    line-height: 1.8;
    align-items: center;
}

.interactions {
    margin-top: 10px;
    display: flex;
    gap: 15px;
    font-size: 16px;
    font-style: oblique;
    color: #333;
    cursor: pointer;
}   

.interactions img {
    width: 20px;
    margin-right: 5px;
}

.interactions span:hover {
    color: #0f1a2c;
    font-weight: 600;
}



/*FOOTER*/
footer {
    background-color: #d9e6f3;
    text-align: center;
    padding-top: 30px;
    margin-top: 60px;
}

.Footer-top img {
    height: 250px;
}

.Footer-top {
    margin: 10px auto 30px;
    max-width: 500px;
    font-size: 16px;
    color: #444;
}

.copy {
    background-color: #cfdceb;
    padding: 15px;
    font-size: 13px;
    margin: 0;
    color: #333;
}

@media (max-width: 768px) {
    nav ul {
        flex-wrap: wrap;
        justify-content: center;
    }

    .Caixas > div {
        width: 85%;
    }

    .Footer-bottom {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}