@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #0f1a2c;
    --seconday-color: #f6ac0f;
    --text-dark: #0f172a;
    --text-light: #64748b;
    --extra-light: #f8fafc;
    --white: #ffffff;
    --gradient: linear-gradient(to right bottom, #ffd43b, #ff9900);

    --ff: 'Playfair Display', serif;

    /*DEFINE 1REM - 16PX*/
    font-size: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #AACADD;
}

a {
    text-decoration: none;
}

/*CABEÇALHO*/
.section_container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 5rem 1rem;
}

header {
    background-color: var(--primary-color);
    height: 100px;

}

.navbar_container {
    max-width: 1500px;
    background-color: var(--white);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    padding: 1rem 2rem;
    transform: translateY(50%);
}

.navbar_logo img {
    margin-top: 5px;
    max-width: 250px;
    display: block;
}

/*itens menu*/
.navbar_links {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.navbar_links a {
    color: var(--text-dark);
    font-weight: 600;
    font-size: 1rem;
    transition: 0.3s;
}

.navbar_links a:hover {
    color: #AACADD;
    border-bottom: 2px solid #AACADD;
}

/*Menu Mobile */
#mobileMenu {
    position: absolute;
    top: 85px;
    width: 240px;
    background: var(--white);
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    padding: 1.2rem 1rem;
    opacity: 0;
    transform: translateY(-15px);
    z-index: 999;
}


#mobileMenu li {
    width: 100%;
    border-bottom: 1px solid #ff9900
}

;


#mobileMenu li:last-child {
    border-bottom: none;
}


#mobileMenu a:hover {
    border-bottom: none !important;
    transform: translateX(4px);
}


#mobileMenu a {
    display: block;
    transition: 0.25s ease;
    text-decoration: none;
}


/*quando o JS ativar*/
#mobileMenu.active {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.8rem;
    opacity: 1;
    padding: 1.2rem 1rem;
}

/*login*/
.login button {
    display: flex;
    align-items: center;
    border-bottom: 2px solid var(--seconday-color);
    border-radius: 0 0 10px 10px;
    padding-bottom: 0.1rem;
    margin-left: 3rem;
}

.login {
    border: none;
    background: none;
    font-size: 1.2rem;
    padding-left: 1rem;
    cursor: pointer;
}


/*busca*/
.search-box {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #003366;
    border-radius: 0 0 10px 10px;
    padding-bottom: 0.1rem;
    margin-left: 2rem;
}

.search-box input {
    border: none;
    padding-left: 0.8rem;
    font-style: italic;
    outline: none;
    font-size: 0.8rem;
    color: var(--text-dark);
    width: 230px;

}

.search {
    border: none;
    background: none;
    font-size: 1.2rem;
    padding-left: 0.5rem;
    cursor: pointer;
}

.navbar_toggle {
    font-size: 2rem;
    border: none;
    background: none;
    color: var(--text-dark);
    cursor: pointer;
    transition: 0.3s;
    display: none;
}

.navbar_toggle ion-icon:hover {
    color: var(--seconday-color);
}

/* ===== CAIXA DE SELEÇÃO ===== */
.language-selector {
    display: flex;
    align-items: center;
    gap: 8px;
    background: var(--white);
    border: 1px solid var(--secondary-color);
    border-radius: 8px;
    padding: 3px 6px;
    cursor: pointer;
    transition: 0.3s;
}

.language-selector:hover {
    background: var(--secondary-color);
}

.lang-icon {
    font-size: 1.3rem;
    color: var(--secondary-color);
    transition: color 0.3s;
}

.language-selector:hover .lang-icon {
    color: var(--primary-color);
}

.lang-select {
    border: none;
    outline: none;
    background: transparent;
    font-weight: 600;
    color: var(--text-dark);
    font-size: 0.95rem;
    cursor: pointer;
    padding: 3px 6px;
    border-radius: 6px;
    width: 60px;
}

.language-selector:hover .lang-select {
    color: var(--primary-color);
}

/*JOGOS*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.topo-jogos {
    width: 60%;
    margin: 150px auto 40px auto;
    background: #bfe3ff;
    padding: 35px 0;
    border-radius: 20px;
    text-align: center;
    position: relative;
}

.topo-jogos h1 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 5px;
}

.topo-jogos .icone {
    position: absolute;
    top: 10px;
    left: 100px;
    width: 80px;
    opacity: 0.8;
}

.topo-jogos .icone2 {
    position: absolute;
    top: 10px;
    right: 100px;
    width: 80px;
    opacity: 0.8;
}

.jogos {
    margin-top: 200px;
    padding: 10rem;
}

.jogos .container {
    width: 90%;
    margin: auto;
    padding: 40px 0;
}

.titulo {
    text-align: center;
    margin-bottom: 40px;
    font-size: 32px;
    font-weight: 700;
    color: #1a1a1a;
}

.grid-jogos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin: 0 50px;
    padding-bottom: 20px;
}

.card {
    background: white;
    border-radius: 18px;
    padding: 15px;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
    transition: 0.2s;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 450px;
    border-radius: 18px;
    margin-bottom: 15px;
}

.card h3 {
    font-size: 20px;
    margin-bottom: 6px;
}

.data {
    font-size: 14px;
    color: #444;
    margin-bottom: 10px;
}

.desc {
    font-size: 14px;
    color: #333;
    margin-bottom: 15px;
}

.disp {
    font-size: 14px;
    color: #1a1a1a;
}

.btn {
    align-items: baseline;
    padding-left: 800px;
    margin-top: 20px;
    background: #f7cf66;
    border: none;
    padding: 18px 40px;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1.2em;
}

/*COMENTARIOS*/
.comentarios {
    background: #0077a3;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
}

.comentarios h1 {
    font-size: 24px;
    font-weight: 600;
}

.icon img {
    width: 50px;
    top: 10px;
}

/* Caixa de comentário */
.comment-box {
    background: #aee3fa;
    width: 65%;
    margin: 40px auto;
    padding: 25px;
    border-radius: 12px;
    display: flex;
    gap: 20px;
}

.avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.comment-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

textarea {
    width: 100%;
    height: 120px;
    border: none;
    resize: none;
    border-radius: 10px;
    padding: 15px;
    font-size: 14px;
    outline: none;
}

.btn-publicar {
    width: 110px;
    padding: 10px;
    background: #f5d58d;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

/* Comentários */
.comment {
    background: #aee3fa;
    width: 65%;
    margin: 25px auto;
    padding: 25px;
    border-radius: 12px;
    display: flex;
    gap: 20px;
}

.comment-body h3 {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
}

.arroba {
    font-weight: 500;
    color: #333;
}

.comment-text {
    background: white;
    padding: 15px;
    margin-top: 10px;
    border-radius: 10px;
    line-height: 1.8;
    align-items: center;
}

.interactions {
    margin-top: 10px;
    display: flex;
    gap: 15px;
    font-size: 16px;
    font-style: oblique;
    color: #333;
    cursor: pointer;
}

.interactions img {
    width: 20px;
    margin-right: 5px;
}

.interactions span:hover {
    color: #0f1a2c;
    font-weight: 600;
}


/*FOOTER*/
footer {
    background-color: #d9e6f3;
    text-align: center;
    padding-top: 30px;
    margin-top: 60px;
}

.Footer-top img {
    height: 250px;
}

.Footer-top {
    margin: 10px auto 30px;
    max-width: 500px;
    font-size: 16px;
    color: #444;
}

.Footer-bottom {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
    padding: 20px 0;
}

.contato,
.social {
    text-align: left;

}

.contato h3,
.contato p {
    display: flex;
    align-items: center;
    gap: 8px;
}

.contato img {
    width: 18px;
}

.social p {
    font-weight: 500;
    margin-bottom: 10px;
}

.social .Icones a img {
    width: 25px;
    margin-right: 10px;
    transition: 0.3s;
}

.copy {
    background-color: #cfdceb;
    padding: 15px;
    font-size: 13px;
    margin: 0;
    color: #333;
}

@media (max-width: 768px) {
    nav ul {
        flex-wrap: wrap;
        justify-content: center;
    }

    .Caixas>div {
        width: 85%;
    }

    .Footer-bottom {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

@media (max-width: 480px) {
    * {
        width: 100%;


    }

    .navbar_container {
        padding: 0.9rem !important;
        flex-direction: row !important;
        position: relative;
        z-index: 999 !important;
    }

    .navbar_toggle {
        display: block;
    }

    .navbar_links {
        display: none;
    }

    .login button {
        display: flex;
        align-items: center;
        border-bottom: none;
        border-radius: none;
        padding-bottom: 0;
        margin-left: 0;
        color: #000;
    }

    #mobileMenu.active {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
        opacity: 1;
        padding: 0.8rem;
    }

    .navbar_logo img {
        margin-top: -25px auto;
        margin-left: -25px auto;
        width: 100px;

    }

    /*busca*/
    .search-box {
        display: flex;
        border-bottom: none;
        border-radius: none;
        margin-left: 0;
    }

    .search-box input {
        display: none;
    }

    .search-box i {
        font-size: 1.0rem;
    }

    .grid-jogos {
        grid-template-columns: 1fr;
        margin: 0 20px 0 0;
    }

    .topo-jogos {
        width: 90%;
        margin: 120px auto 40px auto;
        position: relative;
        z-index: 0;
    }

    .topo-jogos h1 {
        font-size: 1.5rem;
        margin-bottom: -45px;
        font-family: 'Playfair Display', serif;
    }

    .topo-jogos .icone {
        width: 25px;   
        left: 20px;
    }

    .topo-jogos .icone2 {
        width: 25px;   
        right: 20px;
    }

    .card-games img {
        width: 250px;
    }

    .card-games h3 {
        font-size: 1.4rem;
    }

    .card-games p{
        font-size: 0.8rem;
    }

             * {
        width: 100%;
    }

    .comentarios {
        flex-direction: column;
        gap: 15px;
        padding: 15px 10px;
    }

    .comentarios .icon img {
        width: 30px;
        align-items: center;
    }

    .comentarios .icon {
        display: flex;
        justify-content: center;
    }

    .comentarios h1 {
        text-align: center;
    }

    .comentarios h1 {
        font-size: 1.2rem;
    }

    .comment-box {
        flex-direction: column;
        padding: 15px;
    }

    .comment-box .avatar {
        width: 40px;
        height: 40px;
    }

    .comment-content {
        width: 100%;
    }

    textarea {
        height: 80px;
        font-size: 0.9rem;
    }

    .comment .avatar {
        width: 40px;
        height: 40px;
    }

    .comment {
        flex-direction: column;
        padding: 15px;
    }

    .comment-body h3 {
        font-size: 1rem;
    }

    .comment-text {
        font-size: 0.8rem;
    }

    .interactions {
        font-size: 0.9rem;
    }

    .interactions img {
        width: 15px;
    }

    footer {
        padding: 30px 30px;
    }

    .Footer-top img {
        width: 150px;
        height: 100%;
    }

    .Footer-top {
        margin-bottom: 15px;
    }

    .Footer-bottom {
        flex-direction: column;
        align-items: center;
    }

    .socials .Icones a img {
        width: 20px;
    }

    .copy {
        font-size: 11px;
        padding: 10px 0;
        align-items: center;
    }
}