@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #0f1a2c;                    
    --seconday-color: #f6ac0f;
    --text-dark: #0f172a;
    --text-light: #64748b;
    --extra-light: #f8fafc;
    --white: #ffffff;
    --gradient: linear-gradient(to right bottom, #ffd43b, #ff9900);

    --ff: 'Playfair Display', serif;

    /*DEFINE 1REM - 16PX*/
    font-size: 100%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #AACADD;
}

a{
    text-decoration: none;
}

/*CABEÇALHO*/
.section_container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 5rem 1rem;
}

header{
    background-color: var(--primary-color);
    height: 100px;
}

.navbar_container {
    max-width: 1500px;
    background-color: var(--white);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    padding: 1rem 2rem;
    transform: translateY(50%);
}

.navbar_logo img {
    margin-top: 5px;
    max-width: 250px;
    display: block;
}

/*itens menu*/
.navbar_links {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.navbar_links a{
    color: var(--text-dark);
    font-weight: 600;
    font-size: 1rem;
    transition: 0.3s;
}

.navbar_links a:hover{
    color: #AACADD;
    border-bottom: 2px solid #AACADD;
}

/*Menu Mobile */
#mobileMenu {
    position: absolute;
    top: 85px;
    width: 240px;
    background: var(--white);
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    padding: 1.2rem 1rem;
    opacity: 0;
    transform: translateY(-15px);
    z-index: 999;
  }
  
  
  #mobileMenu li {
    width: 100%;
    border-bottom: 1px solid #ff9900};
   
  
  #mobileMenu li:last-child {
    border-bottom: none;
  }
  
  
  #mobileMenu a:hover {
    border-bottom: none !important;
    transform: translateX(4px);
  }
  
  
  #mobileMenu a{
    display: block;
    transition: 0.25s ease;
    text-decoration: none;
  }
  
  
  /*quando o JS ativar*/
  #mobileMenu.active {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.8rem;
    opacity: 1;
    padding: 1.2rem 1rem;
  }

  
/*login*/
.login button{
    display: flex;
    align-items:center;
    border-bottom: 2px solid var(--seconday-color);
    border-radius: 0 0 10px 10px;
    padding-bottom: 0.1rem;
    margin-left: 3rem;
}

.login{
    border: none;
    background: none;
    font-size: 1.2rem;
    padding-left: 1rem;
    cursor: pointer;
}


/*busca*/
.search-box {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #003366;
    border-radius: 0 0 10px 10px;
    padding-bottom: 0.1rem;
    margin-left: 2rem;
}

.search-box input {
    border: none;
    padding-left: 0.8rem;
    font-style: italic;
    outline: none;
    font-size: 0.8rem;
    color: var(--text-dark);
    width: 230px;

}

.search {
    border: none;
    background: none;
    font-size: 1.2rem;
    padding-left: 0.5rem;
    cursor: pointer;
}

.navbar_toggle {
    font-size: 2rem;
    border: none;
    background: none;
    color: var(--text-dark);
    cursor: pointer;
    transition: 0.3s;
    display: none;
}

.navbar_toggle ion-icon:hover {
    color: var(--seconday-color);
}
/* ===== CAIXA DE SELEÇÃO ===== */
.language-selector {
  display: flex;
  align-items: center;
  gap: 8px;
  background: var(--white);
  border: 1px solid var(--secondary-color);
  border-radius: 8px;
  padding: 3px 6px;
  cursor: pointer;
  transition: 0.3s;
}

.language-selector:hover {
  background: var(--secondary-color);
}

.lang-icon {
  font-size: 1.3rem;
  color: var(--secondary-color);
  transition: color 0.3s;
}

.language-selector:hover .lang-icon {
  color: var(--primary-color);
}

.lang-select {
  border: none;
  outline: none;
  background: transparent;
  font-weight: 600;
  color: var(--text-dark);
  font-size: 0.95rem;
  cursor: pointer;
  padding: 3px 6px;
  border-radius: 6px;
  width: 60px;
}

.language-selector:hover .lang-select {
  color: var(--primary-color);
}

/* MAIN */
.container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    padding: 100px;
}

.left img {
    width: 380px;
    border-radius: 10px;
}

.right {
    width: 360px;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px #0001;
}

.right h2 {
    margin-bottom: 10px;
}

.right p a {
    color: #0077cc;
}

/* FORM */
form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

label {
    font-size: 14px;
    margin-top: 10px;
}

input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 5px;
}

.remember {
    margin: 10px 0;
    display: flex;
    align-items: center;
    gap: 5px;
}

.login-btn {
    background: #f3c26d;
    padding: 12px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 10px;
}

.forgot {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #cc0000;
}



/*FOOTER*/
footer {
    background-color: #d9e6f3;
    text-align: center;
    padding-top: 30px;
    margin-top: 60px;
}

.Footer-top img {
    height: 250px;
}

.Footer-top {
    margin: 10px auto 30px;
    max-width: 500px;
    font-size: 16px;
    color: #444;
}

.Footer-bottom {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
    padding: 20px 0;
}

.contato, .social {
    text-align: left;

}

.contato h3, .contato p {
  display: flex;
  align-items: center;
  gap: 8px;
}

.contato img {
  width: 18px;
}

.social p {
    font-weight: 500;
    margin-bottom: 10px;
}

.social .Icones a img {
    width: 25px;
    margin-right: 10px;
    transition: 0.3s;
}

.copy {
    background-color: #cfdceb;
    padding: 15px;
    font-size: 13px;
    margin: 0;
    color: #333;
}

@media (max-width: 768px) {
    nav ul {
        flex-wrap: wrap;
        justify-content: center;
    }

    .Caixas > div {
        width: 85%;
    }

    .Footer-bottom {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

@media (max-width: 480px) {
     * {
        width: 100%;
       

    }
    
    .navbar_container {
        padding: 0.9rem !important;
        flex-direction: row !important;
    }

    .navbar_toggle {
        display: block;
    }

    .navbar_links {
        display: none;
    }
    
    .login button{
        display: flex;
        align-items: center;
        border-bottom: none;
        border-radius: none;
        padding-bottom: 0;
        margin-left: 0;
        color: #000;
    }

    #mobileMenu.active {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
        opacity: 1;
        padding: 0.8rem;
    }

    .navbar_logo img{
        margin-top: -25px auto;
        margin-left: -25px auto;
        width: 100px;
        
    }
    
    /*busca*/
    .search-box {
        display: flex;
        border-bottom: none;
        border-radius: none;
        margin-left: 0;
    }

    .search-box input {
        display: none;
    }

    .search-box i {
        font-size: 1.0rem;
    }

    .container {
        flex-direction: column;
        padding: 50px;
    }

    .left img {
        width: 100%;
        border-radius: 10px;
    }

    .right {
        width: 100%;
        margin-top: 20px;
    }

    footer {
        padding: 30px 30px;
    }

    .Footer-top img {
       width: 150px;
       height: 100%;
    }

    .Footer-top {
        margin-bottom: 15px;
    }

    .Footer-bottom {
        flex-direction: column;
        align-items: center;
    }

    .social .Icones a img {
        width: 20px;
    }

    .copy {
        font-size: 11px;
        padding: 10px 0;
        align-items: center;
    }
}
