@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #0f1a2c;                    
    --seconday-color: #f6ac0f;
    --text-dark: #0f172a;
    --text-light: #64748b;
    --extra-light: #f8fafc;
    --white: #ffffff;
    --gradient: linear-gradient(to right bottom, #ffd43b, #ff9900);

    --ff: 'Playfair Display', serif;

    /*DEFINE 1REM - 16PX*/
    font-size: 100%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #AACADD;
}

a{
    text-decoration: none;
}

/*CABEÇALHO*/
.section_container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 5rem 1rem;
}

header{
    background-color: var(--primary-color);
    height: 100px;
}

.navbar_container {
    max-width: 1500px;
    background-color: var(--white);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    padding: 1rem 2rem;
    transform: translateY(50%);
}

.navbar_logo img {
    margin-top: 5px;
    max-width: 250px;
    display: block;
}

/*itens menu*/
.navbar_links {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.navbar_links a{
    color: var(--text-dark);
    font-weight: 600;
    font-size: 1rem;
    transition: 0.3s;
}

.navbar_links a:hover{
    color: #AACADD;
    border-bottom: 2px solid #AACADD;
}
/*Menu Mobile */
#mobileMenu {
    position: absolute;
    top: 85px;
    width: 240px;
    background: var(--white);
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    padding: 1.2rem 1rem;
    opacity: 0;
    transform: translateY(-15px);
    z-index: 999;
  }
  
  
  #mobileMenu li {
    width: 100%;
    border-bottom: 1px solid #ff9900};
   
  
  #mobileMenu li:last-child {
    border-bottom: none;
  }
  
  
  #mobileMenu a:hover {
    border-bottom: none !important;
    transform: translateX(4px);
  }
  
  
  #mobileMenu a{
    display: block;
    transition: 0.25s ease;
    text-decoration: none;
  }
  
  
  /*quando o JS ativar*/
  #mobileMenu.active {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.8rem;
    opacity: 1;
    padding: 1.2rem 1rem;
  }
  
/*login*/
.login button{
    display: flex;
    align-items:center;
    border-bottom: 2px solid var(--seconday-color);
    border-radius: 0 0 10px 10px;
    padding-bottom: 0.1rem;
    margin-left: 3rem;
}

.login{
    border: none;
    background: none;
    font-size: 1.2rem;
    padding-left: 1rem;
    cursor: pointer;
}


/*busca*/
.search-box {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #003366;
    border-radius: 0 0 10px 10px;
    padding-bottom: 0.1rem;
    margin-left: 2rem;
}

.search-box input {
    border: none;
    padding-left: 0.8rem;
    font-style: italic;
    outline: none;
    font-size: 0.8rem;
    color: var(--text-dark);
    width: 230px;

}

.search {
    border: none;
    background: none;
    font-size: 1.2rem;
    padding-left: 0.5rem;
    cursor: pointer;
}

.navbar_toggle {
    font-size: 2rem;
    border: none;
    background: none;
    color: var(--text-dark);
    cursor: pointer;
    transition: 0.3s;
    display: none;
}

.navbar_toggle ion-icon:hover {
    color: var(--seconday-color);
}

/* ===== CAIXA DE SELEÇÃO ===== */
.language-selector {
  display: flex;
  align-items: center;
  gap: 8px;
  background: var(--white);
  border: 1px solid var(--secondary-color);
  border-radius: 8px;
  padding: 3px 6px;
  cursor: pointer;
  transition: 0.3s;
}

.language-selector:hover {
  background: var(--secondary-color);
}

.lang-icon {
  font-size: 1.3rem;
  color: var(--secondary-color);
  transition: color 0.3s;
}

.language-selector:hover .lang-icon {
  color: var(--primary-color);
}

.lang-select {
  border: none;
  outline: none;
  background: transparent;
  font-weight: 600;
  color: var(--text-dark);
  font-size: 0.95rem;
  cursor: pointer;
  padding: 3px 6px;
  border-radius: 6px;
  width: 60px;
}

.language-selector:hover .lang-select {
  color: var(--primary-color);
}

/* NOTICIAS */
/* Seção de notícias */
main {
  background-color: #b6d0e2;
  padding: 40px 0;
}

.noticias {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.noticias img{
    width: 60px;
}

.noticias h2 {
  font-size: 30px;
  color: #fff;
  background-color: #0b1b35;
  padding: 80px;
  border-radius: 0 0;

}

.card {
  background-color: #fff;
  border-radius: 0 0 15px 15px;
  margin-bottom: 30px;
  padding: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 350px;
  border-radius: 10px;
  height: auto;
  justify-content: left;
}

.card h3 {
  margin: 15px 0;
  color: #222;
  font-size: 18px;
}

.card p{
    padding-bottom: 10px;
    font-size: 1rem;
    font-style: italic;
}

.card .acesso{
    width: 30px;
    align-items: center;
    cursor: pointer;
}

.btn {
    align-items:baseline;
    padding-left: 800px;
    margin-top: 20px;
    background: #f7cf66;
    border: none;
    padding: 18px 40px;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1.2em;
}
/*COMENTARIOS*/
.comentarios {
    background: #0077a3;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
}

.comentarios h1 {
    font-size: 24px;
    font-weight: 600;
}

.icon img{
    width: 50px;
    top: 10px;
}

/* Caixa de comentário */
.comment-box {
    background: #aee3fa;
    width: 65%;
    margin: 40px auto;
    padding: 25px;
    border-radius: 12px;
    display: flex;
    gap: 20px;
}

.avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.comment-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

textarea {
    width: 100%;
    height: 120px;
    border: none;
    resize: none;
    border-radius: 10px;
    padding: 15px;
    font-size: 14px;
    outline: none;
}

.btn-publicar {
    width: 110px;
    padding: 10px;
    background: #f5d58d;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

/* Comentários */
.comment {
    background: #aee3fa;
    width: 65%;
    margin: 25px auto;
    padding: 25px;
    border-radius: 12px;
    display: flex;
    gap: 20px;
}

.comment-body h3 {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
}

.arroba {
    font-weight: 500;
    color: #333;
}

.comment-text {
    background: white;
    padding: 15px;
    margin-top: 10px;
    border-radius: 10px;
    line-height: 1.8;
    align-items: center;
}

.interactions {
    margin-top: 10px;
    display: flex;
    gap: 15px;
    font-size: 16px;
    font-style: oblique;
    color: #333;
    cursor: pointer;
}   

.interactions img {
    width: 20px;
    margin-right: 5px;
}

.interactions span:hover {
    color: #0f1a2c;
    font-weight: 600;
}


/*FOOTER*/
footer {
    background-color: #d9e6f3;
    text-align: center;
    padding-top: 30px;
    margin-top: 60px;
}

.Footer-top img {
    height: 250px;
}

.Footer-top {
    margin: 10px auto 30px;
    max-width: 500px;
    font-size: 16px;
    color: #444;
}

.Footer-bottom {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
    padding: 20px 0;
}

.contato, .social {
    text-align: left;

}

.contato h3, .contato p {
  display: flex;
  align-items: center;
  gap: 8px;
}

.contato img {
  width: 18px;
}

.social p {
    font-weight: 500;
    margin-bottom: 10px;
}

.social .Icones a img {
    width: 25px;
    margin-right: 10px;
    transition: 0.3s;
}

.copy {
    background-color: #cfdceb;
    padding: 15px;
    font-size: 13px;
    margin: 0;
    color: #333;
}

@media (max-width: 768px) {
    nav ul {
        flex-wrap: wrap;
        justify-content: center;
    }

    .Caixas > div {
        width: 85%;
    }

    .Footer-bottom {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}
