@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #0f1a2c;
    --seconday-color: #f6ac0f;
    --text-dark: #0f172a;
    --text-light: #64748b;
    --extra-light: #f8fafc;
    --white: #ffffff;
    --gradient: linear-gradient(to right bottom, #ffd43b, #ff9900);

    --ff: 'Playfair Display', serif;

    /*DEFINE 1REM - 16PX*/
    font-size: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #AACADD;
}

a {
    text-decoration: none;
}

/*CABEÇALHO*/
.section_container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 5rem 1rem;
}

header {
    background-color: var(--primary-color);
    height: 100px;
}

.navbar_container {
    max-width: 1500px;
    background-color: var(--white);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    padding: 1rem 2rem;
    transform: translateY(50%);
}

.navbar_logo img {
    margin-top: 5px;
    max-width: 250px;
    display: block;
}

/*HERO*/
.hero-section {
    background-image: linear-gradient(to right,
            rgba(15, 26, 44, 0.7),
            rgba(15, 26, 44, 0.1)),
        url("../img/ChatGPT\ Image\ 16\ de\ out.\ de\ 2025\,\ 07_53_46.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding-block: 10rem;
}

.hero_container h1 {
    color: var(--extra-light);
    font-size: 3.5rem;
    font-family: var(--ff);

}

.btn {
    align-items: baseline;
    padding-left: 800px;
    margin-top: 20px;
    background: #f7cf66;
    border: none;
    padding: 18px 40px;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1.2em;
}

/*itens menu*/
.navbar_links {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.navbar_links a {
    color: var(--text-dark);
    font-weight: 600;
    font-size: 1rem;
    transition: 0.3s;
}

.navbar_links a:hover {
    color: #AACADD;
    border-bottom: 2px solid #AACADD;
}

/*Menu Mobile */
#mobileMenu {
    position: absolute;
    top: 85px;
    width: 240px;
    background: var(--white);
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    padding: 1.2rem 1rem;
    opacity: 0;
    transform: translateY(-15px);
    z-index: 999;
}


#mobileMenu li {
    width: 100%;
    border-bottom: 1px solid #007bff;
}


#mobileMenu li:last-child {
    border-bottom: none;
}


#mobileMenu a:hover {
    border-bottom: none !important;
    transform: translateX(4px);
}


#mobileMenu a {
    display: block;
    transition: 0.25s ease;
    text-decoration: none;
}


/*quando o JS ativar*/
#mobileMenu.active {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.8rem;
    opacity: 1;
    padding: 1.2rem 1rem;
}

/*login*/
.login button {
    display: flex;
    align-items: center;
    border-bottom: 2px solid var(--seconday-color);
    border-radius: 0 0 10px 10px;
    padding-bottom: 0.1rem;
    margin-left: 3rem;
    color: #333;
    transition: color 0.3s;
}

.login {
    border: none;
    background: none;
    font-size: 1.2rem;
    padding-left: 1rem;
    cursor: pointer;
}
.login button:hover {
    color: navy;
}


/*busca*/
.search-box {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #003366;
    border-radius: 0 0 10px 10px;
    padding-bottom: 0.1rem;
    margin-left: 2rem;
}

.search-box input {
    border: none;
    padding-left: 0.8rem;
    font-style: italic;
    outline: none;
    font-size: 0.8rem;
    color: var(--text-dark);
    width: 230px;

}

.search {
    border: none;
    background: none;
    font-size: 1.2rem;
    padding-left: 0.5rem;
    cursor: pointer;
}

.navbar_toggle {
    font-size: 2rem;
    border: none;
    background: none;
    color: var(--text-dark);
    cursor: pointer;
    transition: 0.3s;
    display: none;
}

.navbar_toggle ion-icon:hover {
    color: var(--seconday-color);
}

/* ===== CAIXA DE SELEÇÃO ===== */
.language-selector {
    display: flex;
    align-items: center;
    gap: 8px;
    background: var(--white);
    border: 1px solid var(--secondary-color);
    border-radius: 8px;
    padding: 3px 6px;
    cursor: pointer;
    transition: 0.3s;
}

.language-selector:hover {
    background: var(--secondary-color);
}

.lang-icon {
    font-size: 1.3rem;
    color: var(--secondary-color);
    transition: color 0.3s;
}

.language-selector:hover .lang-icon {
    color: var(--primary-color);
}

.lang-select {
    border: none;
    outline: none;
    background: transparent;
    font-weight: 600;
    color: var(--text-dark);
    font-size: 0.95rem;
    cursor: pointer;
    padding: 3px 6px;
    border-radius: 6px;
    width: 60px;
}

.language-selector:hover .lang-select {
    color: var(--primary-color);
}

/* Cards de temas */
.temas {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    padding: 50px 20px;
    background: #eef2f7;

}

.card {
    background: white;
    border-radius: 12px;
    width: 200px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 50px;
    margin-bottom: 10px;
}

.card h3 {
    font-size: 16px;
    color: #003366;
}

/* CARROSSEL */
.carousel {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 30px;
    margin: auto;
    position: relative;
}

.carrosel-not {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 30px;
}

.carousel-item {
    width: 60%;
    padding: 15px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.carousel-img {
    width: 500px;
    border-radius: 10px;
}

/* Setas */
.prev,
.next {
    position: absolute;
    top: 50%;
    /* centraliza verticalmente */
    transform: translateY(-50%);
    font-size: 50px;
    border: none;
    background: none;
    cursor: pointer;
    color: #333;
    transition: color 0.3s;
}

.prev:hover,
.next:hover {
    color: #007bff;
}

.prev {
    left: 550px;
    /* seta esquerda */
}

.next {
    right: 550px;
    /* seta direita */
}

/*APANHEI PRA CARAMBA AQUI, mas deu tudo certo*/

.texto-slide {
    background: #eef2f7;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

/* CARDS */
.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 40px 0;
    cursor: pointer;
    text-align: center;
    font-style: oblique;
}

.card-not {
    width: 280px;
    border-radius: 10px;
    padding: 10px;
    background: #fff;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.5);
}

.card-img {
    width: 250px;
    border-radius: 10px;

}


/* Botão de mais notícias */
.more {
    background: #f7cf66;
    border: none;
    padding: 12px 40px;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1.2em;
}

.botao {
    align-items: center;
    padding: 15px;
    margin-left: 950px;
}

/*INDICAÇÕES DA SEMANA ~ nao aguebtoi mais*/
.indicacoes {
    background-color: #0A1A34;
    padding: 50px 0;
    text-align: center;
    color: var(--white);
}

/* A fita agora cobre toda a área de conteúdo */
.tape {
    position: relative;
    width: 100%;
    background-color: #AACADD;
    padding: 40px 0;
}

.semana h1 {
    align-items: center;
    text-align: center;
    margin-bottom: 30px;

}

.joystick {
    width: 30px;
}


.tape .left img {
    background-position: center;
    background-repeat: no-repeat;
    border: none;


}

.tape .right img {
    background-size: cover;

}

.card-game {
    background-color: #eef2f7;
    border-radius: 5%;
    color: #000;
    padding: 15px;
    display: inline-block;
    margin: 1rem;
}

.recomendacao-container {
    background: #AACADD;
    color: white;
    z-index: 2;
    position: relative;
    width: 1100px;
}

.recomendacao-container h2 {
    padding: 2rem;
    color: #000;
}


.img-game {
    width: 270px;
    height: 100%;
}

.star {
    width: 30px;
}

.ver-mais {
    background: #f7cf66;
    border: none;
    padding: 12px 40px;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1.2em;
}

.card-movie {
    background-color: #eef2f7;
    border-radius: 5%;
    color: #000;
    padding: 15px;
    display: inline-block;
    margin: 1rem;
}

.img-movie {
    width: 150px;
    height: 100%;
}


/*FOOTER*/
footer {
    background-color: #d9e6f3;
    text-align: center;
    padding-top: 30px;
    margin-top: 60px;
}

.Footer-top img {
    height: 250px;
}

.Footer-top {
    margin: 10px auto 30px;
    max-width: 500px;
    font-size: 16px;
    color: #444;
}

.Footer-bottom {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
    padding: 20px 0;
}

.contato,
.social {
    text-align: left;

}

.contato h3,
.contato p {
    display: flex;
    align-items: center;
    gap: 8px;
}

.contato img {
    width: 18px;
}

.social p {
    font-weight: 500;
    margin-bottom: 10px;
}

.social .Icones a img {
    width: 25px;
    margin-right: 10px;
    transition: 0.3s;
}

.copy {
    background-color: #cfdceb;
    padding: 15px;
    font-size: 13px;
    margin: 0;
    color: #333;
}

@media (max-width: 768px) {
    nav ul {
        flex-wrap: wrap;
        justify-content: center;
    }

    .Caixas>div {
        width: 85%;
    }

    .Footer-bottom {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

/*MEUS AJUSTES*/

/* LATERAIS DO FILME */
.side {
    position: absolute;
    top: 0;
    width: 95px;
    height: 100%;
    background-size: contain;
    background-repeat: repeat-y;
    z-index: 0;
}

/* LADO ESQUERDO */
.left {
    left: 0;
    background-image: url("../img/pngwing\(1\).com.png");
    background-position: center;
}

/* LADO DIREITO */
.right {
    right: 0;
    background-image: url("../img/pngwing\(1\).com.png");
    background-position: center;
}

/* Impedir sobreposição do conteúdo */
.conteudo-central {
    width: min(1200px, 90%);
    margin: 0 auto;
    position: relative;
    z-index: 2;
}

/* ---- RESPONSIVIDADE ---- */
@media (max-width: 1400px) {

    /* Ajustes para telas entre 1400px */
    .navbar_container {
        padding: 1rem;
    }

    .hero_container h1 {
        font-size: 3rem;
    }

    .temas {
        gap: 20px;
    }

    .card {
        width: 220px;
    }
}

@media (max-width: 1024px) {
    /* Ajustes para LAPTOP (1024px) */

    .header{ 
        width: 100%;
    }

    .navbar_logo img{
        width: 200px;
    }

    .hero_container h1 {
        font-size: 2.2rem;
    }

    .temas {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 15px 40px;
    }

    .card {
        width: 60%;
        margin: 20px;
    }

    .prev {
        left: 80px;
        /* seta esquerda */
    }
    
    .next {
        right: 80px;
        /* seta direita */
    }
}

@media (max-width: 768px) {
/* Ajustes para telas de tablet */
.navbar_container {
    padding: 0.9rem !important;
    flex-direction: row !important;
}

.navbar_logo img {
    max-width: 90px;
    margin: 0 auto;
}

.navbar_toggle {
    display: block;
    
}

.navbar_links {
    display: none;
}

#mobileMenu.active {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    opacity: 1;
    padding: 0.8rem;
}

.navbar_logo img{
    
    width: 100px;
}

/*busca*/
.search-box {
    display: flex;
    border-bottom: none;
    border-radius: none;
    margin-left: 0;
}

.search-box input {
    display: block;
    outline: none;
    
}

.search-box i {
    font-size: 1.0rem;
}

/* Título da seção hero */
.hero_container h1 {
    font-size: 1.4rem;
    text-align: center;
    padding: 0 10px;
}

/* Ajuste da seção de temas */
.temas {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 15px 20px;
}

.card {
    width: 100%;
    padding: 10px;
}

.card img {
    width: 35px;
}

.carousel-img {
    width: 100%;
}

.cards {
    flex-direction: column;
    gap: 10px;
    padding: 10px 0;
}

.card-not {
    width: 100%;
    padding: 10px;
}



/* Indicações da Semana */
.indicacoes {
    padding: 25px 10px;
}

.recomendacao-container {
    width: 100%;
    padding: 15px;
}

.img-game {
    width: 100%;
    height: auto;
}

.card-game,
.card-movie {
    width: 100%;
    margin: 10px 0;
}

.img-movie {
    width: 100%;
    height: auto;
}

/* Ajustes de Footer */
footer {
    padding: 20px 10px;
}

.Footer-top img {
    height: 120px;
}

.Footer-top {
    margin-bottom: 15px;
}

.Footer-bottom {
    flex-direction: column;
    align-items: center;
}

.social .Icones a img {
    width: 20px;
}

.copy {
    font-size: 11px;
    padding: 10px 0;
}
}

@media (max-width: 480px) {


    * {
        width: 100%;
       

    }
    
    .navbar_container {
        padding: 0.9rem !important;
        flex-direction: row !important;
    }

    .navbar_toggle {
        display: block;
    }

    .navbar_links {
        display: none;
    }
    
    .login button{
        display: flex;
        align-items: center;
        border-bottom: none;
        border-radius: none;
        padding-bottom: 0;
        margin-left: 0;
        color: #000;
    }

    #mobileMenu.active {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
        opacity: 1;
        padding: 0.8rem;
    }

    .navbar_logo img{
        margin-top: -25px auto;
        margin-left: -25px auto;
        width: 100px;
        
    }
    
    /*busca*/
    .search-box {
        display: flex;
        border-bottom: none;
        border-radius: none;
        margin-left: 0;
    }

    .search-box input {
        display: none;
    }

    .search-box i {
        font-size: 1.0rem;
    }

    /* Título da seção hero */
    .hero_container h1 {
        font-size: 1.4rem;
        text-align: center;
        padding: 0 10px;
    }

    /* Ajuste da seção de temas */
    .temas {
        flex-direction: column;
        align-items: center;
        gap: 5px;
        padding: 15px 40px;
    }

    .temas .card {
        margin: 5px 0;
        width: 100%;
        padding: 10px; 
        gap: 5px;
    }

    .card img {
        width: 35px;
    }

    .cards {
        flex-direction: column;
        gap: 10px;
        padding: 10px 0;
    }

    .carousel {
        flex-direction: column;
        gap: 10px;
    }

    .texto-slide {
        padding: 5px;
        text-align: center;
        align-items: center;
    }

    .texto-slide h2{
        font-size: 1.2rem;
        text-align: center;
    }

    .texto-slide p {
        font-size: 0.8rem;
        text-align: center
    }

    .carousel-img {
        width: 350px;
        align-items: center;
        padding-left: 75px;
    }

    .prev {
        display: none;
    }

    .next {
        display: none;
    }

    .card-not {
        width: 100%;
        padding: 10px;
        overflow-x: hidden;
    }

    .cards {
        padding: 0 5px;
    }

    .card-img {
        width: 200px;
    }
    
    .card-not p {
        font-size: 0.7rem;
        font-weight: bold;
        align-items: center;
    }

    /* Indicações da Semana */
    .indicacoes {
        padding: 25px 10px;
    }

    .recomendacao-container {
        width: 100%;
        padding: 15px;
    }

    .img-game {
        width: 100%;
        height: auto;
    }

    .card-game,
    .card-movie {
        width: 100%;
        margin: 10px 0;
    }

    .img-movie {
        width: 70%;
        height: auto;
    }

    /* Ajustes de Footer */
    footer {
        padding: 30px 30px;
    }

    .Footer-top img {
       width: 150px;
       height: 100%;
    }

    .Footer-top {
        margin-bottom: 15px;
    }

    .Footer-bottom {
        flex-direction: column;
        align-items: center;
    }

    .social .Icones a img {
        width: 20px;
    }

    .copy {
        font-size: 11px;
        padding: 10px 0;
        align-items: center;
    }
}

@media (max-width: 320px) {
     /* Ajustes para telas extra pequenas (480px) */
     .navbar_container {
        padding: 0.9rem !important;
        flex-direction: row !important;
    }

    .navbar_logo img {
        max-width: 90px;
        margin: 0 auto;
    }

    .navbar_toggle {
        display: block;
        
    }

    .navbar_links {
        display: none;
    }

    #mobileMenu.active {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
        opacity: 1;
        padding: 0.8rem;
    }

    .navbar_logo img{
        
        width: 100px;
    }
    
    /*busca*/
    .search-box {
        display: flex;
        border-bottom: none;
        border-radius: none;
        margin-left: 0;
    }

    .search-box input {
        display: none;
    }

    .search-box i {
        font-size: 1.0rem;
    }

    /* Título da seção hero */
    .hero_container h1 {
        font-size: 1.4rem;
        text-align: center;
        padding: 0 10px;
    }

    /* Ajuste da seção de temas */
    .temas {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 15px 20px;
    }

    .card {
        width: 100%;
        padding: 10px;
    }

    .card img {
        width: 35px;
    }

    .carousel-img {
        width: 100%;
    }

    .cards {
        flex-direction: column;
        gap: 10px;
        padding: 10px 0;
    }

    .card-not {
        width: 100%;
        padding: 10px;
    }



    /* Indicações da Semana */
    .indicacoes {
        padding: 25px 10px;
    }

    .recomendacao-container {
        width: 100%;
        padding: 15px;
    }

    .img-game {
        width: 100%;
        height: auto;
    }

    .card-game,
    .card-movie {
        width: 100%;
        margin: 10px 0;
    }

    .img-movie {
        width: 100%;
        height: auto;
    }

    /* Ajustes de Footer */
    footer {
        padding: 20px 10px;
    }

    .Footer-top img {
        height: 120px;
    }

    .Footer-top {
        margin-bottom: 15px;
    }

    .Footer-bottom {
        flex-direction: column;
        align-items: center;
    }

    .social .Icones a img {
        width: 20px;
    }

    .copy {
        font-size: 11px;
        padding: 10px 0;
    }
}